header {
  text-align: center;
  padding-right: 50;
}

body {
  background-color: darkgrey;
}

.placements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: absolute;
    top: 65px;
    left: 300px;
    background-color:darkgray;
    width: 700px;
    height: 130px;
  }

.sentence {
    font-size: 18px;
    margin: 0;
    margin-bottom: 35px;
  }

  .container {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    
  }

  .information-push {
    bottom: 1px;
    left: 358px;
    position: absolute;
    background-color: darkgray;
    text-align: center;
    
  }

.movePicture {
  padding-left: 350px;
}
